<nav class="navbar navbar-expand-lg bg-primary navbar-light sticky-top">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
            <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% for location in locations %}
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/location/{{location.name}}">{{location.name}}</a></li> </a>
            </li>
            {% endfor %}


            <form class="form-inline my-2 my-md-0" action="/search" role="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch"
                    aria-label="Search">
                <button class="btn btn-success btn-md my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
</nav>